// COLORS

$black: #090909;
$white: #fffffb;
$grey: #f0f0f0;
$accent: #95bf8f;
$secondary: #280004;
$blue: #00a6ed;
$red: #e9190f;
$yellow: #ffc145;

// FONTS
$xxl: 2.5rem;
$xl: 2.2rem;
$lg: 1.85rem;
$md: 1.125rem;
$sm: 0.875rem;

// MIXINS

@mixin rounded-button-fill($background, $color, $padding) {
  font-weight: 600;
  font-size: 1rem;
  width: fit-content;
  border-radius: 15px;
  padding: $padding;
  background-color: $background;
  color: $color;
  cursor: pointer;
  &:disabled {
    opacity: 0.95;
    cursor: default;
  }
}

@mixin rounded-button-border($border, $color, $padding) {
  font-weight: 600;
  font-size: 1rem;
  width: fit-content;
  border-radius: 15px;
  padding: $padding;
  background-color: transparent;
  border: 2px solid $border;
  color: $color;
  cursor: pointer;
  &:disabled {
    opacity: 0.95;
    cursor: default;
  }
}

@mixin link-with-arrow() {
  position: relative;
  width: fit-content;
  grid-area: proceed;
  color: $black;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  span {
    width: 16px;
    transform: translateX(-5px);
    transition: all 200ms;
  }
  &:hover {
    &::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    span {
      transform: translateX(0px);
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    bottom: -2px;
    clip-path: polygon(0 0, 10% 0, 10% 100%, 0% 100%);
    transition: all 200ms;
  }
}
