@import './master';

.cart-container {
  display: grid;
  grid-template-areas:
    'title button'
    'products products'
    'total total'
    'bottom bottom';
  grid-template-rows: 3rem 1fr 3rem 4rem;
  gap: 1.25rem;
  position: absolute;
  z-index: 4000;
  width: 28rem;
  height: 100svh;
  background-color: white;
  border-left: 2px solid $black;
  top: 0;
  left: 100%;
  transition: all 150ms;
  padding: 1rem;
  &__closeBtn {
    grid-area: button;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    cursor: pointer;
    justify-self: end;
    align-self: center;
    span {
      font-size: 2rem;
      vertical-align: middle;
      transform-origin: center;
      transition: all 150ms;
      &:hover {
        scale: 1.1;
      }
    }
  }
  &__title {
    grid-area: title;
    font-weight: 600;
    font-size: $md;
    align-self: center;
  }
  &__products {
    grid-area: products;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &__total {
    grid-area: total;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $grey;
    font-size: 1.25rem;
    padding: 0 1rem;
    font-weight: 600;
    line-height: 3rem;
  }
  &__bottom {
    grid-area: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .checkout {
      @include rounded-button-fill($black, $white, 1rem 1rem);
      line-height: 1rem;
    }
    .clear-cart {
      @include rounded-button-border($black, $black, 1rem 1rem);
      span {
        line-height: 1rem;
        vertical-align: middle;
      }
    }
  }
}

.--active {
  animation: showMenu 200ms forwards;
}
.--inactive {
  animation: hideMenu 200ms forwards;
}

@keyframes showMenu {
  0% {
    visibility: visible;
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-28rem);
  }
}

@keyframes hideMenu {
  0% {
    transform: translateX(-28rem);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    visibility: hidden;
  }
}
