@import './master';

.cart-product {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  img {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
    border: 1px solid $grey;
  }
  &__title {
    font-size: 1rem;
    font-weight: 600;
  }
  &__price {
    flex: 1;
    font-weight: 600;
    border-right: 1px solid $grey;
    padding-right: 10px;
    text-align: right;
  }
  &__button {
    background-color: transparent;
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    .product-icon {
      font-variation-settings: 'FILL' 0;
      font-size: 1.25rem;
    }
  }
}
