@import './master';

.cart-widget {
  position: relative;
  &__btn {
    position: relative;
    background-color: transparent;
    cursor: pointer;
  }
  &-icon {
    color: $white;
    transition: all 100ms;
    &:hover {
      color: $yellow;
    }
  }
  &__qty {
    color: $black;
    background-color: $blue;
    border-radius: 20px;
    font-size: 0.6rem;
    position: absolute;
    display: grid;
    place-items: center;
    font-weight: 900;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
  }
}
