@import './master';

.checkout-product {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
  padding: 0 20px;
  border: 2px solid $black;
  box-shadow: 3px 3px $accent;
  margin-bottom: 1rem;
  width: 95%;
  &__image {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    padding: 0.5rem;
  }
  &__title {
    width: 12rem;
  }
  &__select {
    background-color: transparent;
    padding: 0.5rem;
    border: 2px solid $black;
    width: 4rem;
    cursor: pointer;
  }
  &__option {
    background-color: $white;
    padding: 0.5rem;
    border: 1px solid $black;
    cursor: pointer;
    &:hover {
      background-color: red;
    }
  }
  &__input {
    width: 4rem;
    padding: 0.5rem;
    border: 2px solid $black;
  }
  &__price {
    font-weight: 600;
    width: 7rem;
    text-align: right;
  }
  &__remove {
    background: transparent;
    width: 1rem;
    .remove-icon {
      font-size: 1rem;
      transition: color 150ms;
      vertical-align: middle;
    }
    &:enabled {
      cursor: pointer;
      .remove-icon:hover {
        color: $red;
      }
    }
    &:disabled {
      cursor: default;
      .remove-icon {
        color: transparent;
      }
    }
  }
}
