@import './master';

.checkout-form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  &__label {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    input {
      border: 2px solid $black;
      padding: 0.5rem 1rem;
      margin-top: 0.5rem;
      &:focus {
        outline: none;
        box-shadow: 3px 3px $accent;
      }
    }
  }
  &__submit {
    @include rounded-button-fill($black, $white, 1rem);
    align-self: center;
  }
}
