@import './master';

.checkout-container {
  width: 100svw;
  height: calc(100svh - 7rem);
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.checkout-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 15px;
  &__products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 26rem;
    overflow: scroll;
  }
}

.checkout-side {
  border: 1px solid $grey;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
