@import './master';

.checkout-container {
  width: 100svw;
  height: calc(100svh - 7rem);
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
}

.checkout-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid $grey;
  padding: 1rem;
  &__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    overflow-y: scroll;
  }
}

.checkout-side {
  border: 1px solid $grey;
  width: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
