@import './master';

.checkout-data {
  span {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    font-size: $sm;
    p {
      font-weight: 600;
      font-size: $md;
    }
  }
  &__submit {
    @include rounded-button-fill($black, $white, 15px);
    align-self: center;
  }
}
