@import './master';

.checkout-information {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__breakdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & span {
      background-color: rgb(250, 250, 250);
      padding: 15px 5px;
      border-top: 1px solid $grey;
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 0.8rem;
      & p {
        font-weight: 600;
        font-size: 1rem;
      }
      &:nth-last-of-type(1) {
        font-size: 1.25rem;
        border-bottom: 1px solid $grey;
        & p {
          font-size: 1.5rem;
        }
      }
    }
  }
  &__coupon {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
    gap: 10px;
    label {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 0.8rem;
      font-weight: 600;
      input {
        border: 1px solid $grey;
        border-radius: 15px;
        padding: 5px 10px;
      }
    }
    button {
      @include rounded-button-border($black, $black, 3px 15px);
    }
  }
}
