@import './master';

.details {
  width: 100svw;
  height: calc(100svh - 7rem);
  display: flex;
  &__images {
    width: 60svw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .brand {
      border: none;
      height: 3rem;
      max-width: 6rem;
      object-fit: contain;
      position: absolute;
      left: 30px;
      top: 30px;
    }
    img {
      border: 1px solid $grey;
      width: 50%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      &:nth-of-type(1) {
        position: absolute;
        top: 15px;
        left: 15px;
      }
      &:nth-of-type(2) {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    }
  }
  &__sidebar {
    width: 40svw;
    display: flex;
    flex-direction: column;
    border: 1px solid $grey;
    position: relative;
    padding: 40px;
  }
}

.information {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
  &__title {
    font-size: $xl;
    line-height: $xl * 2;
    border-bottom: 1px solid $grey;
  }
  &__category {
    font-size: $sm;
    font-weight: 600;
  }
  &__description {
    font-size: 1rem;
  }
  &__price {
    font-weight: 900;
    margin: 1rem 0;
    font-size: $lg;
  }
}

.variations {
  &__title {
    font-weight: 600;
    margin: 20px 0 15px 0;
  }
  &__btn {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    &--active {
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      outline: 1px solid $black;
      outline-offset: 2px;
    }
  }
}

.quantity {
  display: grid;
  width: fit-content;
  grid-template-areas: 'title title title' 'minus value plus';
  &__title {
    grid-area: title;
    font-weight: 600;
    margin: 20px 0 15px 0;
  }
  &__value {
    grid-area: value;
    width: 5rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }
  &__btn {
    width: 3rem;
    height: 3rem;
    font-size: $md;
    transition: background-color 150ms, scale 150ms;
    &:nth-of-type(1) {
      border-radius: 10px 0 0 10px;
    }
    &:nth-of-type(2) {
      border-radius: 0 10px 10px 0;
    }
    &:disabled {
      background-color: transparent;
      border: 1px solid $grey;
    }
    &:enabled {
      color: $black;
      background-color: transparent;
      border: 1px solid $black;
      cursor: pointer;
    }
  }
}

.sizes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $grey;
  padding-bottom: 30px;
  &__title {
    font-weight: 600;
    margin-bottom: 0.25rem;
    margin: 20px 0 15px 0;
  }
  &__btn-container {
    display: flex;
    gap: 5px;
  }
  &__btn {
    width: 3.25rem;
    height: 3.25rem;
    font-size: $md;
    cursor: pointer;
    border: 1px solid $grey;
    background: radial-gradient(circle, $accent 100%, transparent 0) center no-repeat;
    background-size: 0 0;
    transition: background 250ms;
    &--active {
      height: 3.25rem;
      width: 3.25rem;
      font-size: $md;
      border-radius: 5px;
      background-size: 100% 100%;
      background-color: $accent;
    }
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  &__cart {
    @include rounded-button-fill($black, $white, 15px 20px);
  }
  &__wishlist {
    @include rounded-button-border($black, $black, 15px 15px);
    .wishlisted {
      font-variation-settings: 'FILL' 1;
    }
    .not-wishlisted {
      font-variation-settings: 'FILL' 0;
    }
    span {
      vertical-align: middle;
    }
  }
}
