@import './master';

.details {
  width: 100svw;
  height: calc(100svh - 7rem);
  display: flex;
  &__images {
    width: 60svw;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      user-select: none;
      pointer-events: none;
      gap: 5px;
      border: 1px solid $grey;
      width: 48%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      padding: 30px;
      background-color: white;
    }
    .brand {
      border: 0;
      height: 3rem;
      width: 5rem;
      padding: 10px;
      padding: 0;
      object-fit: contain;
      position: absolute;
      left: 30px;
      top: 30px;
    }
  }
  &__sidebar {
    width: 40svw;
    display: flex;
    flex-direction: column;
    border: 1px solid $grey;
    position: relative;
    padding: 40px;
  }
}

.information {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
  &__title {
    font-size: $xl;
    line-height: $xl * 2;
    border-bottom: 1px solid $grey;
  }
  &__category {
    font-size: $sm;
    font-weight: 600;
  }
  &__description {
    font-size: 1rem;
  }
  &__price {
    font-weight: 900;
    margin: 1rem 0;
    font-size: $lg;
  }
}

.variations {
  &__title {
    font-weight: 800;
    margin: 20px 0 15px 0;
  }
  &__buttons {
    display: flex;
    gap: 10px;
  }
  &__btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: outline 100ms;
    outline: 1px solid transparent;
    outline-offset: 2px;
    &:hover {
      outline: 1px solid $black;
      outline-offset: 2px;
    }
    &--active {
      transition: outline 100ms;
      width: 40px;
      height: 40px;
      outline: 1px solid $black;
      outline-offset: 2px;
    }
  }
}

.quantity {
  display: grid;
  width: fit-content;
  grid-template-areas: 'title title title' 'minus value plus';
  &__title {
    grid-area: title;
    font-weight: 800;
    margin: 20px 0 15px 0;
  }
  &__value {
    grid-area: value;
    width: 5rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    box-shadow: 3px 3px 0 0 $accent;
    border: 1px solid $black;
    font-weight: 600;
  }
  &__btn {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: $lg;
    background-color: transparent;
    border: none;
    font-weight: 600;
    transition: text-shadow 100ms, color 100ms;
    &:disabled {
      color: $grey;
    }
    &:enabled {
      cursor: pointer;
      &:hover {
        text-shadow: 2px 2px $accent;
      }
    }
  }
}

.sizes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $grey;
  padding-bottom: 30px;
  &__title {
    font-weight: 800;
    margin-bottom: 0.25rem;
    margin: 20px 0 15px 0;
  }
  &__btn-container {
    display: flex;
    gap: 10px;
  }
  &__btn {
    width: 3.25rem;
    height: 3.25rem;
    font-size: $md;
    cursor: pointer;
    border: 1px solid $grey;
    background-color: transparent;
    transition: box-shadow 100ms;
    &:hover {
      box-shadow: 3px 3px 0 0 $accent;
      border: 1px solid $black;
    }
    &--active {
      border: 1px solid $black;
      height: 3.25rem;
      width: 3.25rem;
      font-size: $md;
      background-color: transparent;
      box-shadow: 3px 3px 0 0 $accent;
      transition: box-shadow 100ms;
    }
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  &__cart {
    @include rounded-button-fill($black, $white, 15px 20px);
  }
  &__wishlist {
    @include rounded-button-border($black, $black, 15px 15px);
    .wishlisted {
      font-variation-settings: 'FILL' 1;
    }
    .not-wishlisted {
      font-variation-settings: 'FILL' 0;
    }
    span {
      vertical-align: middle;
    }
  }
}
