@import './master';

.product-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  transition: transform 50ms, outline 50ms;
  outline: 1px solid transparent;
  outline-offset: 1rem;
  &:hover {
    transform: scale(1.025);
    outline: 1px solid rgb(0, 0, 0, 0.1);
  }
}

.product {
  width: 20rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px 0;
  grid-template-areas:
    'image image'
    'image image'
    'title target'
    'variations variations';
  color: $black;
  position: relative;
  &__image {
    grid-area: image;
    height: 20rem;
    object-fit: contain;
    aspect-ratio: 1 / 1;
  }
  &__title {
    grid-area: title;
    font-weight: 600;
    font-size: $md;
    letter-spacing: -1px;
    line-height: $md * 2;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__brand {
    position: absolute;
    top: 16rem;
    height: 3rem;
    max-width: 6rem;
    object-fit: contain;
    object-position: bottom;
  }
  &__category {
    grid-area: target;
    text-align: right;
    font-size: $sm;
  }
  &__variations {
    grid-area: variations;
    display: flex;
    gap: 5px;
    .color {
      width: 25px;
      height: 25px;
      border-radius: 100%;
    }
  }
  &__price {
    position: absolute;
    top: calc(17rem);
    height: 2rem;
    padding: 0 10px;
    right: 0;
    font-size: $sm;
    line-height: 2rem;
    font-weight: 600;
    background-color: $black;
    color: $white;
  }
}
