@import './master';

.product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  transition: box-shadow 100ms, outline 100ms;
  outline: 1px solid transparent;
  &:hover {
    outline: 1px solid $black;
    box-shadow: 5px 5px 0 0 $accent;
    & .product {
      &__brand {
        opacity: 1;
      }
      &__variations {
        opacity: 1;
      }
    }
  }
}

.product {
  width: 20rem;
  text-decoration: none;
  padding-bottom: 10px;
  display: grid;
  gap: 5px 0;
  grid-template-areas:
    'image image'
    'image image'
    'title title'
    'category category'
    'variations variations';
  &__image {
    padding: 20px;
    grid-area: image;
    height: 20rem;
    object-fit: contain;
    aspect-ratio: 1 / 1;
  }
  &__title {
    grid-area: title;
    font-weight: 600;
    font-size: $md;
    letter-spacing: -1px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-self: center;
  }
  &__brand {
    position: absolute;
    opacity: 0.1;
    top: 10px;
    left: 10px;
    height: 2.5rem;
    width: 4rem;
    object-fit: contain;
    object-position: top left;
    transition: opacity 100ms;
  }
  &__category {
    grid-area: category;
    justify-self: center;
    text-align: center;
    font-size: $sm;
  }
  &__variations {
    grid-area: variations;
    opacity: 0;
    display: flex;
    justify-self: center;
    gap: 5px;
    transition: opacity 100ms;
    .color {
      width: 25px;
      height: 25px;
      border-radius: 100%;
    }
  }
  &__price {
    position: absolute;
    top: calc(17rem);
    height: 2rem;
    padding: 0 10px;
    right: 15px;
    font-size: $sm;
    line-height: 2rem;
    font-weight: 600;
    background-color: $black;
    color: $white;
  }
}
