@import './master';

.details {
  width: 100svw;
  display: flex;
  &__images {
    width: 60svw;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      user-select: none;
      pointer-events: none;
      gap: 0.5rem;
      border: 1px solid $grey;
      width: 48%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      padding: 2rem;
      background-color: white;
    }
    .brand {
      border: 0;
      height: 3rem;
      width: 5rem;
      padding: 1rem;
      padding: 0;
      object-fit: contain;
      position: absolute;
      left: 2.5rem;
      top: 2.5rem;
    }
  }
  &__sidebar {
    width: 40svw;
    height: calc(100svh - 7rem);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $grey;
    position: relative;
    padding: 2.5rem;
  }
}

.information {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  &__title {
    font-size: $xl;
    line-height: $xl * 2;
    border-bottom: 1px solid $grey;
  }
  &__category {
    font-size: $sm;
    font-weight: 600;
  }
  &__description {
    font-size: 1rem;
  }
  &__price {
    font-weight: 900;
    font-size: $lg;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.variations {
  &__title {
    font-weight: 800;
    margin: 1.5rem 0 1rem 0;
  }
  &__buttons {
    display: flex;
    gap: 1rem;
  }
  &__btn {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: outline 100ms;
    outline: 2px solid transparent;
    outline-offset: 2px;
    &:hover {
      outline: 2px solid $black;
      outline-offset: 2px;
    }
    &--active {
      transition: outline 100ms;
      width: 2.5rem;
      height: 2.5rem;
      outline: 2px solid $black;
      outline-offset: 2px;
    }
  }
}

.quantity {
  display: grid;
  width: fit-content;
  grid-template-areas: 'title title title' 'minus value plus';
  &__title {
    grid-area: title;
    font-weight: 800;
    margin: 1.5rem 0 1rem 0;
  }
  &__value {
    grid-area: value;
    width: 5rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    box-shadow: 3px 3px 0 0 $accent;
    border: 2px solid $black;
    font-weight: 600;
  }
  &__btn {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: $lg;
    background-color: transparent;
    border: none;
    font-weight: 600;
    transition: text-shadow 100ms, color 100ms;
    &:disabled {
      color: $grey;
    }
    &:enabled {
      cursor: pointer;
      &:hover {
        text-shadow: 2px 2px $accent;
      }
    }
  }
}

.sizes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $grey;
  padding-bottom: 1rem;
  &__title {
    font-weight: 800;
    margin-bottom: 0.25rem;
    margin: 1.5rem 0 1rem 0;
  }
  &__btn-container {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  &__btn {
    min-width: 3.25rem;
    padding: 0 0.5rem;
    height: 3.25rem;
    font-size: $md;
    cursor: pointer;
    background-color: transparent;
    transition: box-shadow 100ms;
    &:hover {
      box-shadow: 3px 3px 0 0 $accent;
      outline-offset: -2px;
      outline: 2px solid $black;
    }
    &--active {
      min-width: 3.25rem;
      padding: 0 0.5rem;
      height: 3.25rem;
      font-size: $md;
      background-color: transparent;
      box-shadow: 3px 3px 0 0 $accent;
      outline-offset: -2px;
      outline: 2px solid $black;
      transition: box-shadow 100ms;
    }
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  &__cart {
    @include rounded-button-fill($black, $white, 1rem 1rem);
  }
  &__wishlist {
    @include rounded-button-border($black, $black, 1rem 1rem);
    .wishlisted {
      font-variation-settings: 'FILL' 1;
    }
    .not-wishlisted {
      font-variation-settings: 'FILL' 0;
    }
    span {
      vertical-align: middle;
    }
  }
}
