@import './master';

.login {
  width: 100svw;
  height: calc(100svh - 7rem);
  display: flex;
  align-items: center;
  justify-content: center;
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $grey;
    gap: 1.5rem;
    padding: 1rem;
    label {
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      input {
        width: 15rem;
        padding: 0.5rem 1rem;
        margin-top: 0.5rem;
        border: 2px solid $black;
        &:focus {
          outline: none;
          box-shadow: 3px 3px $accent;
        }
      }
    }
  }
  button {
    justify-self: center;
    @include rounded-button-fill($black, $white, 0.5rem 1rem);
  }
}
