@import './master';

.login {
  width: 100svw;
  height: calc(100svh - 7rem);
  display: flex;
  align-items: center;
  justify-content: center;
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $grey;
    gap: 20px;
    padding: 15px;
    label {
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      display: flex;
      flex-direction: column;
      input {
        padding: 5px 15px;
        margin-top: 5px;
        font-size: 1.15rem;
        border: 2px solid $black;
        &:focus {
          outline: none;
          box-shadow: 3px 3px $accent;
        }
      }
    }
  }
  button {
    justify-self: center;
    @include rounded-button-fill($black, $white, 10px 15px);
  }
}
