@import './master';

.header {
  width: 100svw;
  height: 7rem;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 500;
  &__logo {
    height: 2rem;
    width: auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__link {
    font-size: $sm;
    text-decoration: none;
    color: $white;
    font-weight: 400;
    transition: all 150ms;
    &--selected {
      pointer-events: none;
      cursor: default;
      font-weight: 900;
      font-size: $sm;
      text-decoration: none;
      color: $accent;
      transition: all 150ms;
    }
  }
}

.menu {
  height: 100%;
  position: relative;
  &__option {
    cursor: default;
    font-weight: 500;
    font-size: $sm;
    color: $white;
    &:hover {
      + .menu__container {
        opacity: 1;
      }
    }
  }
  &__container {
    transition: opacity 100ms;
    opacity: 0;
    padding: 10px 2rem;
    top: 100%;
    right: 0;
    width: fit-content;
    position: absolute;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 1px solid $black;
    &:hover {
      opacity: 1;
    }
    a {
      filter: saturate(0.2) opacity(0.4);
      &:hover {
        filter: saturate(1) opacity(1);
        .submenu {
          opacity: 1;
        }
      }
      img {
        height: 3rem;
        width: 5rem;
        object-fit: contain;
        object-position: center;
        transition: filter 100ms;
      }
    }
  }
}

.submenu {
  cursor: default;
  opacity: 0;
  top: calc(100%);
  position: absolute;
  background-color: $white;
  padding: 20px;
  border: 1px solid $black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: opacity 100ms;
  box-shadow: 5px 5px 0 0 $accent;

  & a {
    @include link-with-arrow();
    cursor: pointer;
  }
}
