@import './master';

.header {
  width: 100svw;
  height: 7rem;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 500;
  &__logo {
    height: 2rem;
    width: auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  &__link {
    font-size: $sm;
    text-decoration: none;
    color: $white;
    font-weight: 400;
    transition: all 150ms;
    &--selected {
      pointer-events: none;
      cursor: default;
      font-weight: 900;
      font-size: $sm;
      text-decoration: none;
      color: $yellow;
      transition: all 150ms;
    }
  }
}
