@import './master';

.orderProduct {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px;
  border-bottom: 1px solid $grey;
  &:last-of-type {
    border-bottom: none;
  }
  &__image {
    height: 5rem;
    width: 5rem;
    padding: 5px;
    object-fit: contain;
    border: 2px solid $black;
  }
  &__title {
    width: 200px;
    flex-grow: 2;
  }
}
