@import './master';

.order-container {
  width: 100svw;
  height: calc(100svh - 7rem);
  display: grid;
  place-items: center;
}

.order {
  border: 1px solid $grey;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  span {
    display: flex;
    flex-direction: column;
    small {
      a {
        color: $black;
      }
    }
  }
  &__products {
    max-height: 22rem;
    overflow-y: scroll;
  }
  &__link {
    @include link-with-arrow();
    align-self: center;
  }
}
