@import './master';

.session-widget {
  position: relative;
  &__btn {
    position: relative;
    background-color: transparent;
    cursor: pointer;
  }
  &-icon {
    color: $white;
    transition: all 100ms;
    &:hover {
      color: $yellow;
    }
  }
}

.user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  background-color: white;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 10px;
  button {
    color: $black;
    background-color: transparent;
    font-size: $md;
    cursor: pointer;
    font-weight: 200;
    transition: all 150ms;
    &:hover {
      font-weight: 900;
    }
  }
}
