@import './master';

.session-widget {
  position: relative;
  &__btn {
    position: relative;
    background-color: transparent;
    cursor: pointer;
  }
  &-icon {
    color: $white;
    transition: all 100ms;
  }
}

.user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  background-color: $white;
  box-shadow: 3px 3px $accent;
  border: 2px solid $black;
  padding: 10px;
  button {
    @include button-with-border();
    font-weight: 600;
    width: fit-content;
    text-align: left;
  }
}
