@import './master';

.signup-container {
  width: 100svw;
  height: calc(100svh - 7rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.signup {
  display: grid;
  grid-template-areas:
    'name surname birth'
    'city state country'
    'address address zip'
    'email emailconf .'
    'password passwordconf .'
    '. small .'
    '. button .';
  border: 1px solid $grey;
  padding: 20px;
  gap: 20px 25px;
  label {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      grid-area: name;
    }
    &:nth-child(2) {
      grid-area: surname;
    }
    &:nth-child(3) {
      grid-area: birth;
    }
    &:nth-child(4) {
      grid-area: city;
    }
    &:nth-child(5) {
      grid-area: state;
    }
    &:nth-child(6) {
      grid-area: country;
    }
    &:nth-child(7) {
      grid-area: address;
    }
    &:nth-child(8) {
      grid-area: zip;
    }
    &:nth-child(9) {
      grid-area: email;
    }
    &:nth-child(10) {
      grid-area: emailconf;
    }
    &:nth-child(11) {
      grid-area: password;
    }
    &:nth-child(12) {
      grid-area: passwordconf;
    }
    input {
      padding: 5px 15px;
      margin-top: 5px;
      font-size: 1.15rem;
      border: 2px solid $black;
      &:focus {
        outline: none;
        box-shadow: 3px 3px $accent;
      }
    }
  }
  small {
    text-align: center;
    grid-area: small;
  }
  button {
    @include rounded-button-fill($black, $white, 10px 15px);
    grid-area: button;
    justify-self: center;
  }
}
