@import './master';

.wishlist-widget {
  position: relative;
  button {
    background-color: transparent;
    color: $white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: $accent;
    }
  }
}
