@import './master';

.wishlist {
  position: absolute;
  background-color: white;
  border: 1px solid $grey;
  border-radius: 5px;
  top: 120%;
  right: 0;
  width: 300px;
  padding: 10px;
  max-height: 25rem;
  overflow-y: scroll;
}
