@import './master';

.wishlist-widget {
  position: relative;
  &__btn {
    position: relative;
    background-color: transparent;
    cursor: pointer;
  }
  &-icon {
    color: $white;
    transition: all 100ms;
    &:hover {
      color: $yellow;
    }
  }
}
